@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body, html{ 
    font-family: montserrat;
    min-height: 100vh;
    width: 100%;
    color: #555;
    background-color: rgba(241, 241, 241, 0.998);
}

/* nav bar styling */
.user-header {
   display: flex;
   justify-content: end;
   margin-left: 5rem; */
   /* padding: .5rem; */
}
header {
    background-color: black;
    color: white;
    /* margin: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem; */
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.logo-header {
    background-color: white;
    /* display: flex;
    justify-content: start; */
    /* align-items: center; */
    /* width: 100%; */
    /* width: 10%;
    height:10%; */
}
nav {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
    /* position: sticky; */
    padding: 1rem;
    /* border: 2px solid black; */
}
.nav-logo-image {
    width: 8%;
    height: 8%;
    display: flex;
    justify-content: start;
    /* padding-left: 7rem;
    padding-right: 25rem; */
}

.nav-links {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0rem;
    overflow: hidden;
    /* background-color: #40e0d0; */
    font-size: 1em;
    font-weight: 700;

    
}
.nav-links-right{
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0rem;
    overflow: hidden;
    font-size: 1em;
    font-weight: 700;
}
.nav-page {
    display: inline;
    padding: 1rem;
}
.nav-page a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* display: inline-block; */
position: relative;
color: 
black;  
}

/* hover effect for nav links  */

.nav-page a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
    black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-page a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* hover effects for nav links */

/* header section */

h1{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}



/* products section */
h2{
    text-align: center;
    margin-top: .2rem;
    font-size: 1rem;
}
#product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 1rem;
    margin: auto;
    /* max-width: 1240px; */
    /* padding: 1rem; */
    
}
#product-list li{
    margin-right: 0;
    height: 60%;
    padding: 20px;
    box-shadow: 0 5px 5px rgb(138, 135, 135);
}

#product-list img {
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    display:flex;
}

#product-list h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

#product-list h4 {
    text-align: center;
    padding: 0 20px 20px 20px;
    line-height: 22px;
}

#product-list p {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #9b0b03;
    padding-top: 30px;
    font-family: sans-serif;
    text-shadow: 0 5px 5px rgba(0, 0, 0.2);
    /* transform: rotate(-45deg); */
}











/* footer section */
.container{
    max-width: 1770px;
    /* background-color: red; */
    margin:auto;
    padding: 3rem;
}

.row{
    display: flex; 
    flex-wrap: wrap;
}

ul{
    list-style: none;
    
}
.footer {
    background-color: #24262b;
    padding: 70 px 0;
    line-height: 1.5;

}

.footer-col{
    width: 25%;
    padding: 0 5rem;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #4eceb8;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 8px;

}
.footer-col .social-links .social-icons{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 3 10px;

    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links .social-icons:hover{
  color: #4eceb8;
   background-color: white;  
}





/* footer section */