@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body, html{ 
    font-family: montserrat;
    min-height: 100vh;
    width: 100%;
    color: #555;
    background-color: rgba(241, 241, 241, 0.998);
}


header {
    background-color: black;
    color: white;
    /* margin: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem; */
    display: flex;
    justify-content: center;
    margin-top: 0;
}


/* nav bar styling */
nav {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
    /* position: sticky; */
    /* padding: 1rem; */
    /* border: 2px solid black; */

    @media only screen and (max-width: 324px){
   
    }
    @media only screen and (max-width: 324px){
  
    }
}
.nav-logo-image {
    width: 5%;
    height: 5%;
}
@media(max-width: 324px){
    .nav-logo-image{
        width: 30%;
        height: 30%;
        display: flex;
        align-items: center;
    }
   
}

.nav-links {
    line-height: 24px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #40e0d0; */
    font-size: .8rem;
    font-weight: 700;
    @media only screen and (max-width: 324px){
       
    }

    
}
nav-page {
    display: inline;
    padding: 1rem;
    @media only screen and (max-width: 324px){
     
        }
    }

.nav-page a {
    display: inline-block;
    color: black;
    text-align: center;
    /* padding: 14px 16px; */
    margin: 2rem;
    /* padding-right: 5rem;
    padding-left: 5rem; */
    text-decoration: none;
    /* display: inline-block; */
position: relative;
color: 
black;  
@media only screen and (max-width: 324px){
     margin: 1rem;
     color:white;
}
@media only screen and (max-width: 768px){
    margin: 1rem;
    color:white;
}
}

/* hover effect for nav links  */

.nav-page a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
    black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-page a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.user-icons{
    margin-right: 4rem;
    /* display: flex;
    justify-content: space-between; */

}
/* hamburger menu styling */

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #40e0d0;
    }

@media(max-width: 768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links{
        position:fixed;
        left: -150%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin: 1rem;
    }

    .nav-page {
        margin: 16px 0;
    }

    .nav-links.active, .nav-links-right.active {
        left: 0;
    }
}






/* hover effects for nav links */

/* header section */

h1{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}



/* products section */
/* #product-list a {
    display: block;
    list-style-type: none;
    align-items: center;
} */
h2{
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 1srem;
}
#product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 4rem;
    margin: 50px auto;
    max-width: 1240px;
    grid-row-gap: 1rem;
    @media only screen and (max-width: 768px){
        padding-bottom: 0rem;
    }
        
}
#product-list li{
    /* margin-top: 2rem; */
    margin-right: 0;
    height: 70%;
    /* padding: 20px; */
    padding-bottom: 6rem;
    box-shadow: 0 5px 5px rgb(138, 135, 135);
}

#product-list img {
    justify-content: center;
    align-items: center;
    /* height: 70%; */
    width: 70%;
    display:flex;
    margin: auto;
    /* margin-right: 2rem; */
    @media only screen and (max-width: 768px){
    width: 50%;
    }
}

#product-list h2 {
    text-align: center;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

#product-list h4 {
    font-size: .8rem;
    text-align: center;
    padding: 0 20px 20px 20px;
    line-height: 22px;
}

#product-list p {
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    color: black;
    padding-top: 1rem;
    font-family: sans-serif;
    /* background-color: #4eceb8; */
    padding-bottom: 1rem;
    /* text-shadow: 0 5px 5px rgba(0, 0, 0.2); */
    /* transform: rotate(-45deg); */
    @media only screen and (max-width: 768px){
        padding-bottom: 0rem;
    }
}











/* footer section */
.container{
    max-width: 1770px;
    /* background-color: red; */
    margin:auto;
    padding: 3rem;
}

.row{
    display: flex; 
    flex-wrap: wrap;
}

ul{
    list-style: none;
    
}
.footer {
    background-color: #24262b;
    padding: 70 px 0;
    line-height: 1.5;

}

.footer-col{
    width: 25%;
    padding: 0 5rem;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 3rem;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #4eceb8;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffff;
    padding-left: 8px;

}
.footer-col .social-links .social-icons{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 3 10px;

    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links .social-icons:hover{
  color: #4eceb8;
   background-color: white;  
}





/* footer section */